body {
     background-image:url('img/body-of-water-canoe-clouds-1782276.jpg');
     background-attachment: fixed !important;
     background-size: cover !important;
     background-position: center center !important;
     background-repeat: no-repeat !important;
     font-family: "arial";
   }
   #logo {
     background: rgb(44, 85, 109) !important;
   }
   nav #menu li:hover {
     background: rgb(44, 85, 109) !important;
   }
   
   .button-more {
     background: rgb(44, 85, 109) !important;
      
   }
   
    