body {
  background-attachment: fixed !important;
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  font-family: "arial";
}
#logo {
  background: #235e3d !important;
}
nav #menu li:hover {
  background: #235e3d !important;
}

.button-more {
  background: #235e3d !important;
}

